
<app-header></app-header>
<main>
  <div id="dashboard">
    <app-dashboard-item [image]="{scr : 'status.png' , alt :'A signal symbol'}" title="Server Status">
      <app-server-status />
    </app-dashboard-item>
    <app-dashboard-item [image]="{scr : 'globe.png' , alt :'A globe'}" title="Traffic">
      <app-traffic/>
    </app-dashboard-item>
    <app-dashboard-item [image]="{scr : 'list.png' , alt :'A list of items'}" title="upport Ticketss">
      <app-tickets />
    </app-dashboard-item>
  </div>
</main>


